form {
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    height: calc(100vh + 168px);
    padding: 20px;
}
h1 {
    font-size: 28px;
    font-weight: 300;
    top: 300px;
    position: relative;
}
.image-upload {
    left: 176px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.75;
    height: calc(100vh - 500px);
    width: 800px;
    max-height: 1000px;
    position: relative;
    overflow: hidden;
    background: url("../../assets/noImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
.file-input {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
.uploaded-picture {
    max-width: 800px;
    max-height: calc(100vh - 500px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.form-group label {
    width: 150px;
    margin-right: 20px;
    font-size: 28px;
    text-align: right;
}
.form-group input, .form-group textarea {
    font-size: 20px;
    width: 1000px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
}
textarea {
    min-height: 100px;
    resize: none;
    overflow: hidden;
}
button {
    right: 24px;
    bottom: 24px;
    position: fixed;
    width: 160px;
    font-size: 24px;
    align-self: flex-start;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .image-upload {
        width: calc(100vw - 40px);
    }
    .uploaded-picture {
        width: calc(100vw - 40px);
    }
    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
        text-align: left;
    }

    .form-group input, .form-group textarea {
        width: 100%;
    }
    button {
        margin: auto;
        bottom: 24px;
        position: fixed;
    }
}
