@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 992px) {
    .header-container {
        height: auto;
    }
}
