.filter-container {
    z-index: 90;
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 12px;
    border-bottom: 1px solid rgb(240, 240, 240)
}

.filter-group {
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.filter-group label {
    margin-bottom: 5px;
}

.filter-group select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.slider-container {
    display: flex;
    width: 140px;
    flex-direction: column;
    gap: 10px;
}

.slider {
    height: 5px;
    position: relative;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 8px;
}

.slider .inside {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-color: #FD634C;
}

.range {
    position: relative;
    /* height: 20px;  */
}

.range input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: absolute;
    top: -20px;
    margin: 0;
    pointer-events: none;
}

.range input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    background: transparent;
    border: none;
}

.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #FD634C;
    pointer-events: auto;
    position: relative;
}

.range input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #FD634C;
    pointer-events: auto;
    position: relative;
}

.range input[type="range"]::-moz-range-track {
    height: 5px;
    background: transparent;
}

@media only screen and (max-width: 768px) {
    .filter-container {
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        top: 24px;
    }

    .filter-group label {
        font-size: 12px;
    }
    .display {
        position: relative;
        font-size: 12px;
        top: -6px;
    }
}