.chat {
    flex: 2;
    border-left: 1px solid #07060635;
    border-right: 1px solid #07060635;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:  1px solid #07060635;

        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }
    
                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .center {
        padding: 20px;
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            max-width: 70%;
            display: flex;
            gap: 20px;

            &.own {
                align-self: flex-end;
                
                .texts { 
                    text-align: right;

                    p {
                        background-color: rgba(30, 83, 241, 0.45);
                    }
                }
            }

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts {
                max-width: 100%;
                width: auto;
                word-break: break-word;
                display: inline-block;
                vertical-align: top;

                img {
                    width: 100%;
                    height: 300px;
                    border-radius: 10px;
                    object-fit: cover;
                }

                p {
                    display: inline-block;
                    padding: 15px;
                    background-color: rgba(19, 32, 68, 0.45);
                    border-radius: 10px;
                    word-break: break-word; 
                    white-space: normal; 
                    max-width: 100%;
                }

                span {
                    display: block;
                    font-size: 13px;
                }
            }
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #07060635;
        gap: 20px;
        margin-top: auto;

        .icons {
            display: flex;
            gap: 20px;
        }

        img {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }

        input {
            flex: 1;
            background-color: #B09C9C;
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            border-radius: 10px;
            font-size: 16px;

            &:disabled {
                cursor: not-allowed;
            }
        }

        .emoji {
            position: relative;

            img.disabled {
                cursor: not-allowed;
            }        

            .picker {
                position: absolute;
                bottom: 50px;
                left: 0;

            }

        }

        .sendButton {
            background-color: #879DE6;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:disabled {
                background-color: #97a9e3;
                cursor: not-allowed;
            }
        }
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: 100;

        .pop {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 500px; 
            text-align: center;

            img {
                max-width: 50%;
                height: auto;
                border-radius: 10px;
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                height: 50px;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid #07060635;
                margin-bottom: 20px;
                resize: none; 
            }

            button {
                padding: 10px;
                margin: 0 20px; 
                border-radius: 10px;
                background-color: #879DE6;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }
}
