html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


.chat-page {
    display:flex; 
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    position: f;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    background-color: #FFF;
}

.chat-header {
    position: fixed;
}

.chat-container {
    padding: 0;
    display: flex;
    flex: 1;
    margin-top: 36px;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 100%; /* Ensure it takes full width */
    justify-content: center; /* Center the inner container horizontally */
    align-items: center;
}


.inner-container {
    width: 90vw;
    height: 90vh;
    background-color: #aeadad74;
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.076);
    display: flex;
}