.chat-page {
    display:flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    background-color: #FFF;
}

.chat-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.chat-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner-container {
    width: 90vw;
    height: 90vh;
    background-color: #aeadad74;
    backdrop-filter: blur(19px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.076);
    display: flex;
}


