.product {
  display: grid;
  margin: 0 40px 40px 40px;
  border: 1px solid #eee;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 10px #ddd;
  transition: 0.5s all ease-out;

  p {
    margin-top: 10px;
  }

  img {
    height: 200px;
    max-width: 200px;
    justify-self: center;
  }

  h4 {
    margin: 20px 0 0 0;
  }

  h5 {
    margin: 10px 0 0 0;
    font-weight: 500;
  }

  button {
    width: 200px;
    border-radius: 20px;
		border: 1px solid #FF4B2B;
		background-color: #FF4B2B;
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 12px 45px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
		cursor: pointer;
  }
}

.product:hover {
  transform: translateY(-5px);
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}