.listing-button {
    bottom: 32px; 
    left: 32px; 
    position: fixed;

    > button {
        width: 200px;
        height: 44px;
        border-radius: 20px;
        padding: 10px;
        font-size: 20px;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.3s ease;
        box-shadow: 5px 5px 10px #ddd;
    }

    > button:hover {
        transform: translateY(-5px);
    };
}
