.listing-button {
    bottom: 32px; 
    left: 32px; 
    position: fixed;

    > button {
		border: 1px solid #FF4B2B;
		background-color: #FF4B2B;
		color: #FFFFFF;
		font-weight: bold;
		letter-spacing: 1px;
        width: 200px;
        height: 44px;
        border-radius: 20px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        transition: transform 0.3s ease;
        box-shadow: 5px 5px 10px #ddd;
    }

    > button:hover {
        transform: translateY(-5px);
    };
}
