.listing-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 540px;
    justify-content: center;
    align-items: center;
    padding: 92px 44px;

    .listing-details {
        display: flex;
        align-items: flex-start; 
        gap: 32px;
    
        img {
            width: 400px; 
            height: auto;
            border: 1px solid rgb(240, 240, 240);
        }
    }
    
    .listing-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    
        h1, h2, h3, h4 {
            margin: 8px 0; 
        } 
        p {
            margin: 4px 0;
        }

        h1 {
            font-size: 32px;
            font-weight: 500;
        }
        
        h2 , h4 {
            font-size: 24px;
            font-weight: 500;
        }

        h3 {
            font-size: 16px;
            font-weight: 300;
        }

        p {
            font-size: 20px;
            font-weight: 300;
            border: 1px solid rgb(240, 240, 240);
            width: 520px;
            height: 153px;
            padding: 4px;
        }
    }
}

.user-container {
    position: absolute;
    top: 540px;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgb(240, 240, 240);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 44px;

    .user-details {
        display: flex;
        align-items: center;
        gap: 10px;

        .userpic {
            cursor: pointer;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        h4 {
            cursor: pointer;
            font-size: 24px;
            font-weight: 300;
        }
    }

    button {
        position: absolute;
        right: 32px;
        width: 200px;
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
      }
}
  
