.forum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2 {
        text-align: center;
        color: rgb(232, 139, 45);
        margin: 10px;
        position: relative;
        line-height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .forum-list {
        width: 100vw;

        .forum-card {
            min-width: 80%;
        }
    }
}