.profile-container {
    position: static;
    width: 100%; 
    height: auto; 
    padding-top: 12px; 
    border-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.profile-info {
    padding: 0 24px;
    flex-grow: 1;

    .profile-pic {
        width: 160px;
        height: 160px;
        border-radius: 100%;
        border: 1px solid rgb(240, 240, 240);
        overflow: hidden;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    p {
        font-size: 24px;
    }

    .join-date {
        font-size: 20px;
        color: rgb(110, 110, 110);
    }
}
.profile-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 0 12px;

    > button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.follow-info {
    gap: 20px;
    display: flex;
    flex-direction: row;

    .follow-count {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h5 {
            font-size: 20px;
            margin: 4px;
            font-weight: 600;
        }
        p{
            font-size: 20px;
            margin: 4px;
        }
    }
}

.profile-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;

    > button {
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        background-color: #FF4B2B;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: bold;
        padding: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }

    .logout, .edit-profile {
        max-width: 200px;
        width: 180px;
        min-width: 120px;
        margin: 12px 0;
    }
    .follow, .unfollow {
        max-width: 240px;
        width: 180px;
        min-width: 120px;
        margin: 12px 0;
    }
}

.user-content {
    position: static;
    right: 0;
    left: 0;
    top: 80px;
    width: 100%;
    height:  fit-content;
    padding: 8px;
    background-color: white;

    h2 {
        text-align: center;
        color: rgb(232, 139, 45);
        margin: 20px 40px;
        position: relative;
        line-height: 60px;
      }
      
    h2::after {
        content: " ";
        background: #d55200;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

.profile-toggle {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    border-bottom: 2px solid #e0e0e0;
    width: 100%;
    gap: 20px;
}
.toggle {
    margin: 0 20px;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    position: relative;
}

.toggle.active {
    color: #FF4B2B; 
    font-weight: bold;
}

.toggle.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #FF4B2B;
}

@media screen and (max-width: 768px) {
    .profile-container {
        align-items: center;

        .profile-info-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .profile-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .profile-buttons {
        justify-content: center;
        align-items: center;
        width: 100px;
    }
}