.profile-container {
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 100px 24px 0 24px;
    background-color: white;
    border: 1px solid rgb(240, 240, 240);
    
    .profile-pic {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 1px solid rgb(240, 240, 240);
        overflow: hidden;
        position: relative;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    p {
        font-size: 24px;
    }

    > button {
        border-radius: 20px;
		border: 1px solid #FF4B2B;
		background-color: #FF4B2B;
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 12px 45px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
		cursor: pointer;
    }

    .logout, .edit-profile {
        width: 240px;
        margin: 12px 0;
    }

    .chat-button {
        width: 240px;
        margin: 12px 0;
        background-color: rgb(8, 8, 112);
        border: 1px solid rgb(8, 8, 112);
    }
}
.users-listings {
    position: absolute;
    right: 0;
    left: 300px;
    top: 80px;
    height:  fit-content;
    padding: 8px;
    background-color: white;

    h2 {
        text-align: center;
        color: rgb(232, 139, 45);
        margin: 20px 40px;
        position: relative;
        line-height: 60px;
      }
      
    h2::after {
        content: " ";
        background: #d55200;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
}
  