.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 12px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    height: 52px;
    border-bottom: 1px solid rgb(240, 240, 240);

    .MechHub_Logo {
        width: 160px;
        height: 32px;
        cursor: pointer;
    }

    .MechHub_Logo_Mobile {
        height: 32px;
        cursor: pointer;
    }

    .hamburger {
        display: none;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 8px;
    }

    ul {
        list-style: none;
        display: inline-flex;
        column-gap: 30px;
        align-items: center;
        margin: 0;
        padding: 20px 0;
    }

    a {
        width: 20px;
        font-size: 12px;
        text-decoration: none;
        color: #000;
    }

    a:hover {
        color: red;
    }
    
    .closed {
        width: fit-content;
    }

    .likes, .notifs {
        padding: 5px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .likes span {
        color: white;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        align-items: center;
        justify-content: center;
        background-color: #FD634C;
        display: flex;
        font-size: 8px;
        font-weight: 500;
        position: absolute;
        top: -1px;
        right: -1px;
    }

    .notifs span {
        color: white;
        border-radius: 50%;
        width: 14px;
        height: 12px;
        align-items: center;
        justify-content: center;
        background-color: #FD634C;
        display: flex;
        font-size: 8px;
        font-weight: 500;
        position: absolute;
        top: -1px;
        right: -1px;
    }

    .open {
        top: 52px;
        background-color: white;

        .likes {
            display: block;
        }
    }

    .header-searchbar {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        .hamburger {
            display: block;
        }

        .banner {
            h1 {
                font-size: 20px;
            }
        }

        ul {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            right: 0;
            width: 100%;
            padding: 0;
            margin: 0;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        ul.open {
            width: 200px;
            display: flex;

            .header-dropdown {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin: 8px;
                cursor: pointer;
            }

            p {
                margin: 0 8px;
            }
        }

        ul li {
            text-align: center;
            width: 100%;
            padding: 10px 0;
        }

        ul li a {
            width: 100%;
            padding: 10px 0;
        }

        .likes {
            border-radius: 0;
        }
    }
}
