/* Catogeries */
#categories
{
    width:100%;
    padding: 120px 0;
}
.cat-title
{
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 60px;
}
.cat
{
    background-color: #fff6f1;
    padding:42px 12px 12px 42px;
    height: 400px;
    position: relative;
    margin-bottom: 24px;
}
.cat h3
{
    font-size: 32px;
    font-weight: 600;
}
.cat a
{
    text-decoration: none;
    color: red;
    letter-spacing: 2px;
    transition: 0.5s;
    position: absolute;
    opacity: 0;
}
.cat:hover a
{
    transform: translateY(-6px);
    transition: 0.5s;
    opacity: 1;
    z-index: 9999;
}
.cat img
{
    position: absolute;
    bottom:20px;
    right: 20px;
    max-width: 320px;
    height: auto;
}