/* Featrued Items */
#featured
{
    width: 100%;
    padding: 60px 0;
}
.f-title
{
    font-size: 80px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 60px;
}
.f-details
{
    margin-left: 12px;
    margin-top: auto;
    padding: 16px 0;
}
.f-details h4
{
    font-size: 18px;
    font-weight: 700;
}
.f-details p
{
    font-size: 18px;
    font-weight: 300;
}
.f-details a
{
    font-size: 16px;
    font-weight: 500;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
}
.f-details a i
{
    color: black;
    float: right;
    opacity: 0;
}
.f-item
{
    background-color: #fff6f1;
    width: 300px;
    height: 320px;
    transition: 0.5s;
    margin-bottom: 16px;
    margin-top: 20px;
}
.f-item img
{
    max-width: 200px;
    max-height: fit-content;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}
.f-item:hover .f-details
{
    margin: 0 16px;
    transition: 0.5s;
}
.f-item:hover a, .f-item:hover a i
{
    opacity: 1;
}