/* header */
#header
{
    width: 100%;
    padding: 8px 0px;
}
.nav-item
{
    margin: 0 12px;
    position: relative;
}
.nav-link
{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
}
.nav-icons a i
{
    color:black;
    padding: 8px;
}
.nav-icons a
{
    margin-left: 16px;
}
.cart-icon span 
{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: red;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 0px;
}
.dropdown
{
    position:absolute;
    padding: 16px;
    border-radius: 4px;
    left: -48px;
    width: 160px;
    list-style: none;
    background: black;
    text-align: left;
    transform: scale(1,0);
    transition: 0.2s;
    transform-origin: top center;
}
.dropdown li a
{
    color: white;
    text-decoration: none;
    line-height: 2;
}
.nav-item:hover .dropdown
{
    transform: scale(1);
}