.liked-products {
    position: absolute;
    left: 0;
    top: 0;
    padding: 52px 12px;
    width: calc(100% - 320px);
    height: 100%;

    h2 {
        text-align: center;
        color: rgb(232, 139, 45);
        margin: 20px 40px;
        position: relative;
        line-height: 60px;
      }
      
    h2::after {
        content: " ";
        background: #d55200;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
}

.cart-checkout-area {
    position: absolute;
    right: 0;
    top: 0;
    padding: 52px 12px;
    width: 320px;
    height: 100%;
    border-left: 1px solid black;
}